:root{
    --black: #020202 ;
    --white: #FFFFFF;
    --blueLight: #ADCAD6;
    --blueMedium: #38618C;
    --blueDark: #13293D; 
    --greenMedium: #99C24D;
    --green: #0E7184;
    --grey: #565959;
    --greyLight: #E2DCDE; 
    --redLight: #E5625E;
    --red: #C1292E;  
    --yellow: #FFE74C;
    --purpleLight: #BCB6FF;
    --purple: #B3679B; 
}

html, body{
    height:100%;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/*Fonts*/
h1{
   font-size: 33px
}

h2{ 
    font-size: 22px
}

h3 {
    font-size: 14px; 
    font-weight: bold;
}

p{
    font-size: 12px;
}

/*Inicio */
.imagen-inicio{
    width: 200px;
    margin: auto;
}

/*Cards*/
.container{
    padding-top: 100px;
    display: flex;
    padding:0;
    margin: 0;
}

.left-content{
    flex-basis: 50%;
}
.right-content{
    flex-basis: 50%;
}

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 3rem;
}

.poke-title{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-group{
    display: flex;
}